.todo-list {
  padding: 2rem;
}

.todo-list .todo-input input {
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  box-shadow: none;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  box-sizing: border-box;
  font-size: 1.2rem;
  padding: .3rem;
}

.todo-list .todo-list-items {
  list-style: none;
  padding: 0;
}

.todo-list .todo-item {
  border: 1px solid #b4b4b4;
  border-radius: 3px;
  margin-top: .5rem;
  padding: .5rem .2rem;
  display: flex;
  align-items : center;
}

.todo-list .todo-item-text {
  cursor: text;
  padding: .3rem .5rem;
  flex: 1;
  margin-right: .5rem;
}

.todo-item .todo-item-delete {
  cursor: pointer;
}

.todo-list .ui-sortable .ui-sort {
  cursor: move;
  background-color: #f4f4f4;
  padding: .1rem;
  margin: 0 .3rem;
  border: 1px solid #b4b4b4;
  border-radius: 3px;
} 

